@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@font-face {
    font-family: "Pixelify Sans", "sans-serif";
    src: url(./PixelifySans-Regular.ttf);
}

@font-face {
    font-family: "Climate Crisis", "sans-serif";
    src: url(./ClimateCrisis-Regular.ttf);
}

@font-face {
    font-family: "Fustat", sans-serif;
    src: url(./Fustat-Regular.ttf);
}

.climate-crisis-regular-font {
    font-family: "Climate Crisis", "sans-serif";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "YEAR" 1979;
}

.pixelify-regular-font {
    font-family: "Pixelify Sans", "sans-serif";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.fustat-regular-font {
    font-family: "Fustat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


