:root {
    --clr-pink: #BF7A87;
    --clr-purple: #6E65A6;
    --clr-green: #B6BF6F;
    --clr-green-flash: #CAD959;
    --clr-orange: #F28157;
    --clr-black: #151515;
    --clr-grey-light: #f0f0f0;
    --clr-white: #ffffff;
}

.color-green {
    color: var(--clr-green);
    
}


.color-green-flash {
    color: var(--clr-green-flash);
}

.color-orange {
    color: var(--clr-orange);
}

.color-grey-light {
    color: var(--clr-grey-light);
}

.color-purple {
    color: var(--clr-purple);
}

.color-white {
    color: var(--clr-white);
}

.background-black {
    background-color: var(--clr-black);
}
.background-purple {
    background-color: var(--clr-purple);
}

.background-green {
    background-color: var(--clr-green);
}

.background-green-flash {
    background-color: var(--clr-green-flash);
}

.background-grey-light {
    background-color: var(--clr-grey-light);
}