:root {
    --clr-pink: #BF7A87;
    --clr-purple: #6E65A6;
    --clr-green: #B6BF6F;
    --clr-green-flash: #CAD959;
    --clr-orange: #F28157;
    --clr-black: #151515;
    --clr-grey-light: #e3e3e3;
}

.background-purple {
    background-color: var(--clr-purple);
}

.background-green {
    background-color: var(--clr-green);
}

.background-green-flash {
    background-color: var(--clr-green-flash);
}