.climate-crisis-regular-font {
    font-family: "Climate Crisis", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "YEAR" 1979;
}

.pixelify-regular-font {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;

}

.fustat-regular-font {
    font-family: "Fustat", "sans-serif";
    font-optical-sizing: auto;
}


