
.pb-30 {
    padding-bottom: 30px;
}
.ps-30 {
    padding-left: 30px;
}
.pt-60 {
    padding-top: 60px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-130 {
    padding-bottom: 130px !important;
}

.pt-160 {
    padding-top: 160px;
}
.pb-160 {
    padding-bottom: 160px;
}
.py-160 {
    padding: 160px 0;
}

.px-160 {
    padding: 0 160px;
}
