* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.title {
    font-size: clamp(1.7em, 28px, 3em);
    
    line-height: 1.2;
    margin-bottom: .9166666667em;
}

.btn {
    font-weight: 500;
    padding: 15px 40px;
    border-radius: 0;
}

.isotope-options {
    padding-top: 30px;
    position: relative;
}

a {
    text-decoration: none;
}


